PSEBONLINE/Web References/epunjabschool_old/service-pseb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="https://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="https://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="https://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="https://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://tempuri.org/" xmlns:http="https://schemas.xmlsoap.org/wsdl/http/" xmlns:s="https://www.w3.org/2001/XMLSchema" xmlns:soap12="https://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://tempuri.org/" xmlns:wsdl="https://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://tempuri.org/">
      <s:element name="get9thClassAllStudents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paramerter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get9thClassAllStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get9thClassAllStudentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get9thClassStudentDetails_ByStudents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paramerter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get9thClassStudentDetails_ByStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get9thClassStudentDetails_ByStudentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get9thClassStudentDetails_ByUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paramerter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get9thClassStudentDetails_ByUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get9thClassStudentDetails_ByUIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSchoolDetailsByUdiseCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paramerter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSchoolDetailsByUdiseCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSchoolDetailsByUdiseCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paramerter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStaffDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get9thClassAllStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:get9thClassAllStudents" />
  </wsdl:message>
  <wsdl:message name="get9thClassAllStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:get9thClassAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:get9thClassStudentDetails_ByStudents" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:get9thClassStudentDetails_ByStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByUIDSoapIn">
    <wsdl:part name="parameters" element="tns:get9thClassStudentDetails_ByUID" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByUIDSoapOut">
    <wsdl:part name="parameters" element="tns:get9thClassStudentDetails_ByUIDResponse" />
  </wsdl:message>
  <wsdl:message name="getSchoolDetailsByUdiseCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getSchoolDetailsByUdiseCode" />
  </wsdl:message>
  <wsdl:message name="getSchoolDetailsByUdiseCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getSchoolDetailsByUdiseCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getStaffDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getStaffDetails" />
  </wsdl:message>
  <wsdl:message name="getStaffDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getStaffDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="get9thClassAllStudentsHttpGetIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassAllStudentsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByStudentsHttpGetIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByStudentsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByUIDHttpGetIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByUIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSchoolDetailsByUdiseCodeHttpGetIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSchoolDetailsByUdiseCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getStaffDetailsHttpGetIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getStaffDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassAllStudentsHttpPostIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassAllStudentsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByStudentsHttpPostIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByStudentsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByUIDHttpPostIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="get9thClassStudentDetails_ByUIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getSchoolDetailsByUdiseCodeHttpPostIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getSchoolDetailsByUdiseCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getStaffDetailsHttpPostIn">
    <wsdl:part name="paramerter" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getStaffDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="service_psebSoap">
    <wsdl:operation name="get9thClassAllStudents">
      <wsdl:input message="tns:get9thClassAllStudentsSoapIn" />
      <wsdl:output message="tns:get9thClassAllStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByStudents">
      <wsdl:input message="tns:get9thClassStudentDetails_ByStudentsSoapIn" />
      <wsdl:output message="tns:get9thClassStudentDetails_ByStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByUID">
      <wsdl:input message="tns:get9thClassStudentDetails_ByUIDSoapIn" />
      <wsdl:output message="tns:get9thClassStudentDetails_ByUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSchoolDetailsByUdiseCode">
      <wsdl:input message="tns:getSchoolDetailsByUdiseCodeSoapIn" />
      <wsdl:output message="tns:getSchoolDetailsByUdiseCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaffDetails">
      <wsdl:input message="tns:getStaffDetailsSoapIn" />
      <wsdl:output message="tns:getStaffDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="service_psebHttpGet">
    <wsdl:operation name="get9thClassAllStudents">
      <wsdl:input message="tns:get9thClassAllStudentsHttpGetIn" />
      <wsdl:output message="tns:get9thClassAllStudentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByStudents">
      <wsdl:input message="tns:get9thClassStudentDetails_ByStudentsHttpGetIn" />
      <wsdl:output message="tns:get9thClassStudentDetails_ByStudentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByUID">
      <wsdl:input message="tns:get9thClassStudentDetails_ByUIDHttpGetIn" />
      <wsdl:output message="tns:get9thClassStudentDetails_ByUIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getSchoolDetailsByUdiseCode">
      <wsdl:input message="tns:getSchoolDetailsByUdiseCodeHttpGetIn" />
      <wsdl:output message="tns:getSchoolDetailsByUdiseCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaffDetails">
      <wsdl:input message="tns:getStaffDetailsHttpGetIn" />
      <wsdl:output message="tns:getStaffDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="service_psebHttpPost">
    <wsdl:operation name="get9thClassAllStudents">
      <wsdl:input message="tns:get9thClassAllStudentsHttpPostIn" />
      <wsdl:output message="tns:get9thClassAllStudentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByStudents">
      <wsdl:input message="tns:get9thClassStudentDetails_ByStudentsHttpPostIn" />
      <wsdl:output message="tns:get9thClassStudentDetails_ByStudentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByUID">
      <wsdl:input message="tns:get9thClassStudentDetails_ByUIDHttpPostIn" />
      <wsdl:output message="tns:get9thClassStudentDetails_ByUIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getSchoolDetailsByUdiseCode">
      <wsdl:input message="tns:getSchoolDetailsByUdiseCodeHttpPostIn" />
      <wsdl:output message="tns:getSchoolDetailsByUdiseCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaffDetails">
      <wsdl:input message="tns:getStaffDetailsHttpPostIn" />
      <wsdl:output message="tns:getStaffDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="service_psebSoap" type="tns:service_psebSoap">
    <soap:binding transport="https://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get9thClassAllStudents">
      <soap:operation soapAction="https://tempuri.org/get9thClassAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByStudents">
      <soap:operation soapAction="https://tempuri.org/get9thClassStudentDetails_ByStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByUID">
      <soap:operation soapAction="https://tempuri.org/get9thClassStudentDetails_ByUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchoolDetailsByUdiseCode">
      <soap:operation soapAction="https://tempuri.org/getSchoolDetailsByUdiseCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffDetails">
      <soap:operation soapAction="https://tempuri.org/getStaffDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="service_psebSoap12" type="tns:service_psebSoap">
    <soap12:binding transport="https://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get9thClassAllStudents">
      <soap12:operation soapAction="https://tempuri.org/get9thClassAllStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByStudents">
      <soap12:operation soapAction="https://tempuri.org/get9thClassStudentDetails_ByStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByUID">
      <soap12:operation soapAction="https://tempuri.org/get9thClassStudentDetails_ByUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchoolDetailsByUdiseCode">
      <soap12:operation soapAction="https://tempuri.org/getSchoolDetailsByUdiseCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffDetails">
      <soap12:operation soapAction="https://tempuri.org/getStaffDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="service_psebHttpGet" type="tns:service_psebHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="get9thClassAllStudents">
      <http:operation location="/get9thClassAllStudents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByStudents">
      <http:operation location="/get9thClassStudentDetails_ByStudents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByUID">
      <http:operation location="/get9thClassStudentDetails_ByUID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchoolDetailsByUdiseCode">
      <http:operation location="/getSchoolDetailsByUdiseCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffDetails">
      <http:operation location="/getStaffDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="service_psebHttpPost" type="tns:service_psebHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="get9thClassAllStudents">
      <http:operation location="/get9thClassAllStudents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByStudents">
      <http:operation location="/get9thClassStudentDetails_ByStudents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get9thClassStudentDetails_ByUID">
      <http:operation location="/get9thClassStudentDetails_ByUID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSchoolDetailsByUdiseCode">
      <http:operation location="/getSchoolDetailsByUdiseCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffDetails">
      <http:operation location="/getStaffDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service_pseb">
    <wsdl:port name="service_psebSoap" binding="tns:service_psebSoap">
      <soap:address location="https://www.epunjabschool.gov.in/webservice/service-pseb.asmx" />
    </wsdl:port>
    <wsdl:port name="service_psebSoap12" binding="tns:service_psebSoap12">
      <soap12:address location="https://www.epunjabschool.gov.in/webservice/service-pseb.asmx" />
    </wsdl:port>
    <wsdl:port name="service_psebHttpGet" binding="tns:service_psebHttpGet">
      <http:address location="https://www.epunjabschool.gov.in/webservice/service-pseb.asmx" />
    </wsdl:port>
    <wsdl:port name="service_psebHttpPost" binding="tns:service_psebHttpPost">
      <http:address location="https://www.epunjabschool.gov.in/webservice/service-pseb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>